<!DOCTYPE html>
<html>
    <head>
        <title>Evidenjcija radnog vremna zaposlenih</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/main.css">
        {% block head %}
        {% endblock %}
    </head>
    <div class="login-page"></div>
        <body onload="startTime()">
            <header>

            </header>
            <main>
                {% block main %}
                {% endblock %}
            </main>
            <footer>
                &copy; 2019 Marko Lazović, Aleksandar Veličković
            </footer>
        </body>
    </div>
</html>